<!DOCTYPE html>
<html>
<head>
	<title>Grid Layout</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="css/text" href="fwcss.css">
	<style>	
		.blue-dot{color:blue;}
		.bold{font-style:normal;font-weight:600;}
		.call_center{text-align:center;}
        .vl{border-left:100px;height:100%;}
        .white-dot{color:white;}
    </style>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
       
    <script>
        var socket = io.connect('https://tv-shows-01.herokuapp.com:'+location.port+'/');
            socket.on('redirect',function(data) {
                console.log(data)
                window.location = data.url;
            });
    </script>

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" style="font-size: 25px;color: White;" href="#">I-Lite TV Channels</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li class="active"><a href="#">Channels</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      
        <li class="active"><a href="#">connected to the device id {{device_ref_id}} </a></li>
    </ul>

  </div>
</nav>


	<div class="container-fluid">
		<div class="row">
        <div class="col-sm-3" style="padding-top:7%;font-size:200%;margin-top:5%;">
            <ol>
                <li><a href="#" >Puthiya Thalaimurai</a></li>
                <li><a href="#" >Sun News</a></li>
                <li><a href="#" >Polimer TV</a></li>
                <li><a href="#" >Sun TV</a></li>
                <li><a href="#" >News 7</a></li>
                <li><a href="#" >DD National</a></li>
                <li><a href="#" >Star Sports</a></li>
                <li><a href="#" >ESPN</a></li>
                <li><a href="#" >National Geography</a></li>
                <li><a href="#" >CNBC</a></li>
            </ol>
        </div>
        <div class="vl"></div>
        <div class="col-sm-9" style="padding-top:5%;font-size:200%;margin-top:5%;">
            <div style="position:relative;height:0;padding-bottom:52.56%"><iframe src="{{url}}" style="position:absolute;width:100%;height:100%;left:0" width="685" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        </div>
        </div>
    </div>
</body>
</html>